<table cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif; font-size: 13px;">
    <tbody><tr>
        <td>
            <strong>{{NAME}}</strong><br>{{ROLE}}<br>{{PHONE}}<br>{{EMAIL}}<br>
            Firma GmbH<br><br>

            <a href="https://linkedin.com/in/max" target="_blank">
                <img src="https://example.com/linkedin.png" width="20" alt="LinkedIn">
            </a>
            <a href="https://twitter.com/max" target="_blank" style="margin-left:6px;">
                <img src="https://example.com/twitter.png" width="20" alt="Twitter">
            </a>
        </td>
    </tr>
</tbody></table>
