<div class="mt-6">
    <br><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="border-collapse: collapse; margin: 0px; width: 426px; height: 242px; border-spacing: 0px !important;">
        <tbody>
            <tr>
                <td style="vertical-align:top">
                    <table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="border-collapse: collapse; margin: 0px; width: 290px; border-spacing: 0px !important; height: 147px;">
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    <table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="border-collapse:collapse; border-spacing:0px !important; margin:0px; width:auto">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="border-collapse:collapse; border-spacing:0px !important; margin:0px; width:auto">
                                                        <tbody>
                                                            <tr>
                                                                <td><img alt="avatar" src="https://raw.githubusercontent.com/husisusi/SubSingnature/main/public_html/img/john.png" style="max-width: 94px;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="vertical-align:top">
                                    <table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="border-collapse: collapse; margin: 0px; width: 157px; height: 121px; border-spacing: 0px !important;">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: bottom;">
                                                    <p style="margin-left:0; margin-right:0">{{NAME}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:top">
                                                    <p style="margin-left:0; margin-right:0">{{ROLE}}</p>

                                                    <p style="margin-left:0; margin-right:0"><span style="color:#000000">Example company</span></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-top:1px solid #dddddd; vertical-align:top">
                    <p style="margin-left:0; margin-right:0"><span style="color:#000000">Website:&nbsp;&nbsp;</span><a href="https://example.com" style="text-decoration: none; color: rgb(1, 1, 1);">https://example.com</a></p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top">
                    <p style="margin-left:0; margin-right:0"><span style="color:#000000">Email:&nbsp;&nbsp;<a href="mailto:{{EMAIL}}">{{EMAIL}}</a></span></p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top">
                    <p style="margin-left:0; margin-right:0"><span style="color:#000000">Phone:&nbsp;&nbsp;{{PHONE}}</span></p>
                </td>
            </tr>
            
            <tr>
                <td><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="border-collapse: collapse; margin: 0px; width: auto; border-spacing: 0px !important; font-size: 0px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p style="margin-left:0; margin-right:0"><a href="https://example.com" style="display: inline-block; border-radius: 3px;"><img src="https://raw.githubusercontent.com/husisusi/SubSignature/main/public_html/img/facebook.png" style="width: 30px;"></a></p>
                                                </td>
                                                <td>&nbsp;<br></td>
                                                <td>
                                                    <p style="margin-left:0; margin-right:0"><a href="https://example.com" style="display: inline-block; border-radius: 3px;"><img src="https://raw.githubusercontent.com/husisusi/SubSignature/main/public_html/img/x.png" style="width: 30px;"></a></p>
                                                </td>
                                                <td>&nbsp;<br></td>
                                                <td>
                                                    <p style="margin-left:0; margin-right:0"><a href="https://example.com" style="display: inline-block; border-radius: 3px;"><img src="https://raw.githubusercontent.com/husisusi/SubSignature/main/public_html/img/linkedin.png" style="width: 30px;"></a></p>
                                                </td>
                                                <td>&nbsp;<br></td>
                                                <td>
                                                    <p style="margin-left:0; margin-right:0"><a href="https://example.com" style="display: inline-block; border-radius: 3px;"><img src="https://raw.githubusercontent.com/husisusi/SubSignature/main/public_html/img/instagram.png" style="width: 30px;"></a></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table></td>
            </tr>
        </tbody>
    </table>
</div><br><br><br>